*{margin:0;padding:0;}
html{overflow-x:hidden;}
img{border:0;}
.clear:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
#wrap-header{width:100%;height:103px;}
#wrap-header .header{width:1142px;height:103px;margin:0 auto;position:relative;}
#wrap-header .header img{margin-top:24px;}
#wrap-header .header i{display:block;width:138px;height:52px;position:absolute;left:285px;top:          28px; font-size:12px;color:#999b98;line-height:26px;background:url(../images/bk.gif)          no-repeat left center;text-align:center;}
#wrap-header .header .nav ul{height:73px;position:absolute;right:0;top:32px;}
#wrap-header .header .nav ul li{float:left;list-style:none;}
#wrap-header .header .nav li a{text-decoration:none;padding:0 17px;color:#000;font-size:12px;color:#000;height:73px;line-height:73px;display:block;border-radius:5px 5px 0 0;}
#wrap-header .header .nav li:hover a{background:#f75a53;}

#wrap-banner{width:100%;height:456px;position:relative;}
#wrap-banner img{position:absolute;left:50%;margin-left:-720px;}

#wrap-image{width:100%;height:386px;}
#wrap-image .image{width:1140px;height:386px;position:relative;margin:0 auto;}
#wrap-image .image h3{font-size:22px;position:absolute;left:418px;top:39px;}
#wrap-image .image p{font-size:12px;position:absolute;left:500px;top:82px;color:#9a9997;}
#wrap-image .image .ul_1 ul{position:absolute;left:2px;top:124px;border:1px solid #ededed;width:1138px;}
#wrap-image .image .ul_1 ul li{float:left;list-style:none;width:188px;height:100px;text-align:center;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
#wrap-image .image .ul_1 ul li a{display:inline-block;vertical-align:middle;}
#wrap-image .image .ul_1 ul li em{display:inline-block;vertical-align:middle;height:100%;width:0;}
#wrap-image .image .ul_1 ul li img{display:block;}
#wrap-image .image .ul_1 ul li.last{border-right:0;}

#wrap-design{width:100%;height:542px;background:#1a1b1f;}
#wrap-design .design{width:1140px;height:542px;position:relative;margin:0 auto;}
#wrap-design .design h3{color:#fff;font-size:22px;text-align:center;padding-top:53px;}
#wrap-design .design p{font-size:12px;text-align:center;margin-top:22px;color:#fff;}
#wrap-design .design dl{width:343px;height:262px;background:#cfcfd1;float:left;margin-right:28px;margin-top:107px;position:relative;}
#wrap-design .design dl dt{font-size:15px;color:#f85b56;font-weight:bold;text-align:center;margin-top:96px;}
#wrap-design .design dl dd{font-size:12px;height:30px;line-height:30px;text-align:center;margin-top:19px;}
#wrap-design .design span{display:block;width:135px;height:133px;background:url(../images/img01.png) no-repeat;position:absolute;left:105px;top:-67px;}
#wrap-design .design dl.dl2 span{background-position:0 -163px;}
#wrap-design .design dl.dl3 span{background-position:0 -325px;}

#wrap-content{width:100%;margin-bottom:20px;}

#wrap-content .content{width:1140px;margin:0 auto;}
#wrap-content .content h3{color:#000;font-size:22px;text-align:center;margin-top:52px;}
#wrap-content .content p{font-size:12px;text-align:center;margin-top:20px;color:#9a9997;}
#wrap-content .content ul{text-align:center;margin-top:34px;}
#wrap-content .content ul li{display:inline-block;list-style:none;background:#666666;height:40px;position:relative;}
#wrap-content .content ul li a{text-decoration:none;display:inline-block;height:40px;line-height:40px;font-size:12px;color:#fff;padding:0 72px;}
#wrap-content .content ul li span{width:13px;height:7px;position:absolute;left:50%;margin-left:-6.5px;top:40px;}
#wrap-content .content ul li:hover a{background:#f75a53;}
#wrap-content .content ul li:hover span{background:url(../images/index_68.jpg) no-repeat;}
#wrap-content .content .image{margin-top:20px;float:left;}
#wrap-content .content .image:after{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
#wrap-content .content .image a{float:left;margin-right:30px;margin-bottom:30px;}
#wrap-content .content .image a.last{margin-right:0;}
#wrap-content .content .image a img{width:360px;height:256px;}

#wrap-news{width:100%;margin-top:29px;background:#f2f2f2;height:350px;}
#wrap-news .news{width:1140px;margin:0 auto;}
#wrap-news .news .company{width:400px;height:350px;float:left;}
#wrap-news .news .company h3{fon-size:16px;color:#000;height:64px;line-height:64px;margin-top:12px;}
#wrap-news .news .company ul{font-size:12px;position:relative;}
#wrap-news .news .company ul li{float:left;list-style:none;height:30px;line-height:30px;}
#wrap-news .news .company ul span{float:right;color:#878988;margin-right:60px;height:30px;line-height:30px;}
#wrap-news .news .company ul li a{text-decoration:none;color:#878988;}
#wrap-news .news .company a.image{display:block;position:absolute;left:0;top:198px;}

#wrap-news .news .industry{width:400px;height:350px;float:left;}
#wrap-news .news .industry h3{fon-size:16px;color:#000;height:64px;line-height:64px;margin-top:12px;}
#wrap-news .news .industry ul{font-size:12px;position:relative;}
#wrap-news .news .industry ul li{float:left;list-style:none;}
#wrap-news .news .industry ul span{float:right;color:#878988;margin-right:60px;height:30px;line-height:30px;}
#wrap-news .news .industry ul li a{text-decoration:none;color:#878988;height:30px;line-height:30px;}
#wrap-news .news .industry a.image{display:block;position:absolute;left:0;top:198px;}

#wrap-news .news .media{width:340px;height:350px;float:right;}
#wrap-news .news .media h3{fon-size:16px;color:#000;height:64px;line-height:64px;margin-top:12px;}
#wrap-news .news .media ul{font-size:12px;}
#wrap-news .news .media ul li{float:left;list-style:none;}
#wrap-news .news .media ul span{float:right;color:#878988;height:30px;line-height:30px;}
#wrap-news .news .media ul li a{text-decoration:none;color:#878988;height:30px;line-height:30px;}

#wrap-news .news a.i img{margin-top:17px;}


#wrap-footer{width:100%;height:138px;background:#363636;}
#wrap-footer .footer{width:1140px;margin:0 auto;}
#wrap-footer .footer ul{text-align:center;padding-top:30px;}
#wrap-footer .footer ul li{display:inline-block;list-style:none;}
#wrap-footer .footer ul li a{display:inline-block;font-size:12px;color:#767676;text-decoration:none;padding:0 12px 0 7px;background:url(../images/bk1.gif) no-repeat right top;}
#wrap-footer .footer ul li.cc a{background:none;}
#wrap-footer .footer p{font-size:12px;color:#767676;text-align:center;margin-top:17px;}
#wrap-footer .footer i{display:block;font-style:normal;font-size:12px;color:#767676;text-align:center;margin-top:19px;}
